.Characters{
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Characters--title {
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

.Characters--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 400px){
    .Characters{
        width: 80%;
        max-width: 1000px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (min-width: 500px){
    .Characters--title{
        font-size: 30px;
    }
}